<div class="page login-page">
    <div class="login-container">
        <h2>
            <a href="/"><img src="static/img/impactstory-logo-sideways.png" alt=""></a>
        </h2>
        <div class="actions">
            <div class="btn btn-lg btn-default twitter"
                 ng-click="currentUser.twitterAuthenticate('login')">
                <i class="fa fa-twitter"></i>
                Log in with Twitter
            </div>
            <div class="btn btn-lg btn-default orcid"
                 ng-click="currentUser.orcidAuthenticate('login', true)">
                <img src="static/img/orcid-logo-white.png" alt="">
                Log in with ORCID
            </div>
        </div>
        <div class="create-account">
            Don't have an account?
            <a href="/" ng-click="currentUser.twitterAuthenticate('register')">Join for free</a>
            with Twitter.
        </div>

    </div>
</div>