<div class="page oauth-page">

    <div class="focus-container">
        <h2>
            <img src="static/img/impactstory-logo-sideways.png" alt="" ng-show="!error">
        </h2>
        <div class="loading-container" ng-show="!error">
            <md-progress-linear md-mode="indeterminate"></md-progress-linear>
        </div>
        <div class="working" ng-show="!error">
            <!--<i class="fa fa-refresh fa-spin"></i>-->

            Connecting with your
            <span class="identity-provider twitter" ng-show="identityProvider=='twitter'">
                Twitter
            </span>
            <span class="identity-provider orcid" ng-show="identityProvider=='orcid'">
                Orcid
            </span>
            &hellip;
        </div>

        <div class="error" ng-show="error">

            <!-- ORCID error -->
            <div class="orcid" ng-show="identityProvider=='orcid'">
                <div class="msg">
                    <i class="fa fa-exclamation-triangle"></i>
                    Sorry, we don't recognize your ORCID account!
                </div>

                <div class="btn btn-default login-button twitter"
                     ng-click="currentUser.twitterAuthenticate('login')">
                    <i class="fa fa-twitter"></i>
                    Log in with Twitter instead
                </div>
            </div>

            <!-- Twitter error -->
            <div class="twitter" ng-show="identityProvider=='twitter'">
                <div class="msg">
                    <i class="fa fa-exclamation-triangle"></i>

                    Sorry, we don't recognize your Twitter account (@{{ identityProviderId }}).
                </div>

                <div class="buttons">
                    <div class="btn login-button orcid"
                        ng-click="currentUser.orcidAuthenticate('login', true)">
                        <img src="static/img/orcid-logo-white.png" alt="">
                        Log in with ORCID instead
                    </div>

                    <div class="btn login-button twitter"
                         ng-click="currentUser.twitterAuthenticate('register')">
                        <i class="fa fa-twitter"></i>
                        Create a new profile
                    </div>

                </div>
            </div>

        </div>
    </div>






</div>