<div class="page settings-page">
    <h2>Settings</h2>
    <a href="/u/{{ orcidId }}" class="back-to-profile">
        <i class="fa fa-chevron-left"></i>
        Back to my profile

    </a>

    <!-- launching for the DORA anniversary in December :) -->
    <div class="setting-panel" ng-hide="true">
        <h3>DORAfy <span><i class="fa fa-unlock-alt"></i> OAWeek only!</span></h3>
        <p>
            <a href="https://en.wikipedia.org/wiki/San_Francisco_Declaration_on_Research_Assessment/">
            The San Francisco Declaration on Research Assessment (DORA)
            </a>
             intends to halt the practice of correlating the journal impact factor to the merits 
            of a specific scientist's contributions: 
        </p>
        <blockquote>
            Do not use journal-based metrics, such as Journal Impact Factors, as a surrogate measure
            of the quality of individual research articles, to assess an individual scientist’s
            contributions, or in hiring, promotion, or funding decisions.
        </blockquote>
        <p>
            We love this idea. And in fact, we're signatories of DORA. The declaration is
            celebrating it's fourth anniversary this week.
        </p>
        <p>
            So, for this week, you can "DORAfy" your profile by hiding all the journals you've published in
            (they'll come back after the 16th).

            {{ currentUser.profileLink() }}
        </p>
        <div class="dorafy-controls">
            <div class="dora-state waiting" ng-show="dorafied===false">
                <span class="btn btn-lg btn-default"
                      ng-click="setDorafy(true)">
                    <i class="fa fa-check"></i>
                    DORAfy me!
                </span>
            </div>
            <div class="dora-state working" ng-show="dorafied===null">
                <div class="loading-container" ng-show="!error">
                    <md-progress-linear md-mode="indeterminate"></md-progress-linear>
                </div>
            </div>
            <div class="dora-state done" ng-show="dorafied===true">
                <div class="success">
                    <span class="text">You're DORAfied!</span>
                    <a href="https://twitter.com/intent/tweet?url={{ currentUser.profileLink() }}&text=I DORAfied my @Impactstory profile to show my support for the @DORAssessment declaration! http://www.ascb.org/dora"
                       target="_blank"
                       class="btn btn-default">
                        <i class="fa fa-twitter"></i>
                        <span class="text">Share</span>
                    </a>
                </div>
                <a class="undo" href="" ng-click="setDorafy(false)">
                    undo
                </a>
            </div>
        </div>
    </div>

    <div class="setting-panel">
        <h3>Sync data from ORCID</h3>
        <p>
            Your Impactstory profile is built on your ORCID profile, and it
            automatically stays in sync to pull in your new information and new works.
            But if you can't wait, you can also sync manually right now.
        </p>
        <div class="sync-controls">
            <span class="btn btn-lg btn-default"
                  ng-show="syncState=='ready'"
                  ng-click="pullFromOrcid()">
                <i class="fa fa-refresh"></i>
                Sync with my ORCID now
            </span>
            <div class="alert alert-info" ng-show="syncState=='working'">
                <i class="fa fa-refresh fa-spin"></i>
                Syncing now...
            </div>
            <div class="alert alert-success" ng-show="syncState=='success'">
                <i class="fa fa-check"></i>
                Sync complete!
            </div>
        </div>
    </div>

    <div class="setting-panel twitter">
        <div class="disconnect" ng-show="currentUser.d.twitter_screen_name">
            <h3>Disconnect your Twitter</h3>
            <p>
                This is handy if you want to associate a different Twitter account with your
                Impactstory profile.
            </p>
            <div class="button">
                <span class="btn btn-lg btn-default"
                      ng-click="currentUser.disconnectTwitter()">
                    <i class="fa fa-twitter"></i>
                    Disconnect from @{{ currentUser.d.twitter_screen_name }}
                </span>
            </div>
        </div>
        <div class="connect" ng-show="!currentUser.d.twitter_screen_name">
            <h3>Connect to your Twitter</h3>
            <p>
                This will set your profile picture and add a link to your Twitter account.
            </p>
            <div class="button">
                <span class="btn btn-lg btn-default"
                      ng-click="currentUser.twitterAuthenticate('connect')">
                    <i class="fa fa-twitter"></i>
                    Connect to your Twitter
                </span>
            </div>
        </div>
    </div>

    <div class="setting-panel">
        <h3>Donate</h3>
        <p>
            Impactstory is a nonprofit, and the application you're
            using is free. But if you're getting value out of it,
            we'd love a donation to help keep us around.
        </p>
        <span class="btn btn-lg btn-default" ng-click="donate(1000)">
            <i class="fa fa-thumbs-o-up"></i>
                Donate $10
            </span>
        <span class="btn btn-lg btn-default" ng-click="donate(10000)">
            <i class="fa fa-thumbs-o-up"></i>
            Donate $100
        </span>
    </div>

    <div class="setting-panel">
        <h3>Delete</h3>
        <p>
            Don't like what you see? Drop us a line, we'd love to hear how
            Impactstory could be better. Or you can just delete this profile:
        </p>
        <div class="first-q">
            <span ng-click="wantToDelete=true"
                  ng-show="!wantToDelete"
                  class="btn btn-lg btn-default">
                <i class="fa fa-trash"></i>
                Delete my Impactstory profile
            </span>
        </div>
        <div class="second-q" ng-show="wantToDelete">
            <h4>Are you sure you want to delete your profile?</h4>
            <span ng-click="deleteProfile()"
                  class="btn btn-lg btn-danger">Yes I'm sure!</span>

        </div>
    </div>






</div>

