<div class="page wizard link-your-orcid">
    <h2>Welcome, {{ auth.getPayload().first_name }}!</h2>
    <p>here's ORCID and here's what it is</p>
    <p>do you have an ORCID?</p>
    <div class="do-you-have-an-orcid" ng-show="!hasOrcid">
        <span class="have-orcid-yes btn btn-lg btn-success"
              ng-click="doYouHaveAnOrcid('yes')">
            <i class="fa fa-check"></i>
            Yes
        </span>

        <span class="have-orcid-no btn btn-lg btn-danger"
              ng-click="doYouHaveAnOrcid('no')">
            <i class="fa fa-times"></i>
            No
        </span>

        <span class="have-orcid-maybe btn btn-lg btn-info"
              ng-click="doYouHaveAnOrcid('maybe')">
            <i class="fa fa-question"></i>
            Maybe
        </span>
    </div>
    <div id="orcid-register-instr">
        <div class="have-orcid-yes" ng-show="hasOrcid=='yes'">
            <div class="text">
                Great, just go sign in and you're all good.
                When you're done, you'll be redirected back here, and will be
                nearly done creating your profile.
            </div>
            <span class="btn btn-primary btn-lg" ng-click="orcidAuthenticate('login')">
                Sign in to my ORCID
            </span>
        </div>
        <div class="have-orcid-no" ng-show="hasOrcid=='no'">
            <div class="text">
                No problem, it'll take you less than 20 seconds to make an ORCID.
                When you're done, you'll be redirected back here, and will be
                nearly done creating your profile.
            </div>
            <span class="btn btn-primary btn-lg" ng-click="orcidAuthenticate('register')">
                Create my ORCID
            </span>
        </div>
        <div class="have-orcid-yes" ng-show="hasOrcid=='maybe'">
            <div class="text">
                No problem, just go register for an ORCID. If you've already made one,
                it'll redirect you there automatically once you enter your email.
                When you're done, you'll be redirected back here, and will be
                nearly done creating your profile.
            </div>
            <span class="btn btn-primary btn-lg" ng-click="orcidAuthenticate('register')">
                Try registering for an ORCID
            </span>
        </div>

    </div>

</div>
