<!DOCTYPE html>
<html>
<head>
    <title>Congratulations, you're an Open Access Hero!</title>
    <!--style type="text/css">
      {{ css }}
   </style-->
    <!--link rel="stylesheet" href="https://impactstory.org/static/less.emails/css/new-metrics.css"/-->
</head>
<body>

<p>
    Congratulations, you're an <strong>Open Access Hero!</strong>
</p>

<p>
    This Open Access Week, we're honoring researchers who've made
    100% of their publications free to read online--
    <a href="https://impactstory.org/u/{{ profile.orcid_id }}/a/open-hero">researchers like you!</a>
    Well done...only 2% of our other users managed to pull this off.
</p>
<p>

    <strong>
    <a href="https://twitter.com/intent/tweet?url=https://impactstory.org/u/{{ profile.orcid_id }}/a/open-hero&text=I%27m an Open Hero on @Impactstory--I made 100%25 of my work free to read online! How about you%3F %23OAWeek">
    Share it on Twitter!
    </a>
    </strong>

</p>
<p>
    Keep up the great work,
</p>
<p>
    Heather and Jason
</p>
</body>
</html>

https://u3399793.ct.sendgrid.net/wf/click?upn=0TLLcvJXdYPypbL8y-2Bo7fjfWpN9zbaDts-2BUFehwKKer4TIDho3pukX1kglANAMStPeAdhmVdYUYNsvOk-2BmFvnBC20BFguuZq40ttG2eVo8J39i3wStUhlb75ZDKmLiwvUIKTuud59zNQCHhVHkuLng-3D-3D_g-2F4ldjTgDR67B6xw9q4OKutXkU1jpkbJcYQBEWbwBfa6O7dusVRtG0AVds-2FGgmw-2BaSyMEiY1NoEPa06mD71YE2Czbhn-2BuefLpX-2BWLMqfEM43PHi3LkA5kco9TtwWPIu7H5Nreo2ELALsbEX4zkK1ODGrJqdu7iwfqoEN8NbRyO1VqwjR4rE9WHpKJQHwDZMmrO4r0xZRFmbD7niEgelb9kEvEW8Vl7wToeu-2BDE7jO0w-3D%27m%20an%20Open%20Hero%20on%20@Impactstory--I%20made%20100%25%20of%20my%20work%20free%20to%20read%20online!%20How%20about%20you%3F%20%23OAWeek
