<!DOCTYPE html>
<html>
<head>
    <title>Congratulations, you're an Open Access Hero!</title>
    <!--style type="text/css">
      {{ css }}
   </style-->
    <!--link rel="stylesheet" href="https://impactstory.org/static/less.emails/css/new-metrics.css"/-->
</head>
<body>

<p>
    This Open Access Week, we're honoring researchers who've made
    100% of their publications free to read online--<a href="https://impactstory.org/u/{{ profile.orcid_id }}/a/open-hero">researchers like you!</a>
    Well done...only 2% of our other users managed to pull this off.
</p>
<p>

    <strong>
    <a href="https://twitter.com/intent/tweet?url=https://impactstory.org/u/{{ profile.orcid_id }}/a/open-hero&text=I%27m an Open Hero on @Impactstory--I made 100%25 of my work free to read online! How about you%3F %23OAWeek">
    Share it on Twitter!
    </a>
    </strong>

</p>
<p>
    Keep up the great work,
</p>
<p>
    Heather and Jason
</p>
</body>
</html>

