<!DOCTYPE html>
<html>
<head>
    <title>Impactstory</title>
    <!--style type="text/css">
      {{ css }}
   </style-->
    <!--link rel="stylesheet" href="https://impactstory.org/static/less.emails/css/new-metrics.css"/-->
</head>
<body>

<p>
    Congrats, you are an OA Hero!
</p>

<p>
    Check out your Impactstory profile to see details -- here only for OA week.
</p>
<p>
    <strong>
        <a href='https://impactstory.org/u/{{ profile.orcid_id }}/achievements'>View my profile</a>
    </strong>
</p>
</body>
</html>

